/* 1 em = 16 px */

/* minimo 1015 pixels de ancho*/
@media screen and (min-width: 63.4375em) {

    body{
        height: 100%;

        margin: 0;
        font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        font-size: 1.125em;

    }

    /*header y sus subheaders*/
 /*   header{
        height: 24.835%; 
        width: 100%;
        margin: 0 0 0 0;
        background-color: #000000b8;
        
        
    }
    #header_left{
        width: 15.5%;
        height: 100%;
        float: left;
    }
    #header_mid{
        position: relative;
        height: 100%;
        left: 0;
        right: 17.5%;
        width: 69%;
        float: left;
    }
    #header_top{
        position: relative;
        height: 50%;
        left: 0;
        width: 100%;
        aspect-ratio: 6/10;
        
    }
    #header_bot{
        left: 0;
        width: 100%;
        position: relative;
        height: 50%;
    }
    #header_right{
        width: 15.5%;
        height: 100%;
        float: right;
    }
    .center{
        text-align:center
    }


    /*Imagenes del header
    #logo{
        margin-left: 15%;
        /*intentar poner dimension

        object-fit: cover;
        width: 60%;
        height: 100%;
        
    }
    #logo2{
        margin-left: 10%;
        margin-top: 5%;
        width: 80%;
        height: 80%;
    }*/

    /*botones de header top y bot*/
    a{
        color:#ffffff;
        text-decoration: none;
    }

    #titulo{
        margin-top: 20px;
        color:black;
        font-size: 40px;
    }




    main{

        height: 1000px;
        width: 100%;
        margin: 0 0 0 0;

    }

  
    .contenedor{
        height: 100px;
        width: 100px;
    }

    .seccion{
        height: 25%;
        width: 100%
    }

    .productos{
        background-color: #C4C4C4;
        list-style-type: none;
        width: 50%;
        font-size: 25px;
        width: 100%;

    }

    .login-button img {
        width: 150px; /* ajusta el ancho según sea necesario */
        height: auto; /* ajusta la altura de forma automática para mantener la proporción */
        border-radius: 5px; /* añade esquinas redondeadas */
    }

    .login-button:hover img {
        opacity: 0.8; /* reduce la opacidad al pasar el ratón por encima para dar un efecto de transparencia */
    }


}




/* maximo 1015 pixels de ancho*/
@media screen and (max-width: 63.4375em) {
    body{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
    a{
        text-decoration: none;
        color: rgb(255, 0, 0);

    }


}


