.espacio{
    width: 25%;
    height: 100%; /* Ajusta la altura según sea necesario */
    background-color: #ccc;

}
.contenedor_sec{
    display: flex; /* Utiliza flexbox */
    justify-content: space-around; /* Distribuye uniformemente los elementos a lo largo del contenedor */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
    height: 95%; /* Puedes ajustar la altura según sea necesario */
}