.espacio{
    width: 25%;
    height: 100%; /* Ajusta la altura según sea necesario */
    background-color: #ccc;
    background-size: contain;
    background-repeat: no-repeat;

}
div.espacio img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.texto{
    position: absolute; /* Esto permite posicionar el div hijo en relación con su contenedor padre */
    bottom: 0;
    height: 33%;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.63);
    white-space: pre-line;

}


.contenedor_sec{
    display: flex; /* Utiliza flexbox */
    justify-content: space-around; /* Distribuye uniformemente los elementos a lo largo del contenedor */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
    height: 95%; /* Puedes ajustar la altura según sea necesario */
}