.seccion {
    margin-bottom: 70px;
}

 .left {
     text-align: left;
     margin-left: 4%; /* Ajusta el espaciado derecho según tus necesidades */
 }

.right {
    text-align: right;
    margin-left: 71%; /* Ajusta el espaciado izquierdo según tus necesidades */
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 30px;

}

#titulo_mostrar{
    margin: 0;
    font-size: 44px; /* Ajusta el tamaño de la fuente según tus preferencias */
}
#titulo_atras {
    margin: 0;
    font-size: 44px; /* Ajusta el tamaño de la fuente según tus preferencias */
    color: black;
}
.seccion{
    height: 20%;
    width: 100%
}